<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/style.css' />
		<script src="/js/vendor/jquery.min.js"></script>
		<script src="/js/vendor/d3.min.js"></script>
	</head>
	<body>
		<div class="nav-main">
			<div class="wrap">
				<a class="nav-home" href="/react/index.html">
					<img class="nav-logo" src="/images/logo.svg" width="50" height="50">
					BCMS
				</a>
				<ul class="nav-site">
					<li><a href="/" class="active">home</a></li>
					<li><a href="/">support</a></li>
					<li><a href="/">about</a></li>
					<li><a href="http://github.com/kevinwinata/BCMS-Web">github</a>
				</ul>
			</div>
		</div>
		<h2>Visualisasi data keluhan masyarakat bandung</h2>
		<section>
			<div id="bcms-toolbar"></div>
			<div id="bcms-visualization"></div>
		</section>
		<script src="/js/bundle.js"></script>
	</body>
</html>
