<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/css/style.css' />
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="nav-main">
			<div class="wrap">
				<a class="nav-home" href="/react/index.html">
					<img class="nav-logo" src="/images/logo.svg" width="50" height="50">
					BCMS
				</a>
				<ul class="nav-site">
					<li><a href="index.html" class="active">home</a></li>
					<li><a href="index.html">support</a></li>
					<li><a href="index.html">about</a></li>
					<li><a href="http://github.com/kevinwinata/BCMS-Web">github</a>
				</ul>
			</div>
		</div>
		<h2>Visualisasi data keluhan masyarakat bandung</h2>
		<div id="bcms-toolbar"></div>
		<div id="bcms-visualization"></div>
		<script src="/js/bundle.js"></script>
	</body>
</html>
