@import "./node_modules/material-ui/src/less/scaffolding.less";
@import "./node_modules/material-ui/src/less/components.less";

.nav-main {
	background: @blue-grey-500;
	color: @grey-500;
	position: fixed;
	top: 0;
	height: 50px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	width: 100%;
	z-index: 100;
	.nav-home {
		color: @grey-50;
		font-family: 'Roboto', sans-serif;
		font-size: 24px;
		line-height: 50px;
		height: 50px;
		display: inline-block;
		text-decoration: none;
	}
	.nav-site {
		float: right;
		margin: 0;
		a {
			padding: 0 8px;
			font-family: 'Roboto', sans-serif;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 50px;
			display: inline-block;
			height: 50px;
			color: @blue-grey-50;
			text-decoration: none;
		}
		a .active {
			color: @blue-grey-50;
			border-bottom: 3px solid @light-blue-500;
			background: #333;
		}
	}
	.nav-logo {
		vertical-align: middle;
		display: inline-block;
		margin-top: 0px;
	}
	ul, li {
		display: inline;
		margin-left: 20px;
	}
}

.wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

#bcms-toolbar {
	margin-left: 32px;
	margin-right: 32px;
}

.toolbar-parameter > div {
	float:left;
}

#bcms-visualization {
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 20px;
}

.mui-date-picker {
	margin-top: 3px;
	width: 128px;
	.mui-text-field {
		width: 128px;
		.mui-text-field-input {
			width: 128px;
		}
		.mui-text-field-underline {
			width: 128px;
		}
	}
}