div#toolbar {
	width: 18%;
	float: left;
	.mui-paper-container {
		p, .mui-drop-down-menu, .mui-checkbox * {
			margin-left:5%;
		}
	}
}

.mui-date-picker {
	margin-top: 3px;
	margin-left: 8%;
	width: 100px;
	.mui-text-field {
		width: 100px;
		margin-left: 8%;
		.mui-text-field-input {
			width: 100px;
			margin-left: 8%;
		}
		.mui-text-field-underline {
			width: 100px;
			margin-left: 8%;
		}
	}
}

#vis-button {
	margin-left: 20%;
}