div#visualization {
	margin-top: 40px;
	margin-left: 21%;
}

div#home-text {
	margin-left: 15px;
}

ul#mode-list {
	margin-left: 25px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.tooltip {
	font-size: 14px;
	font-family: Roboto;
	pointer-events: none;
}